<form action="/dashboard/addstation" method="POST">
  <div class="field">
    <label class="label">Station Title</label>
    <input
      class="input"
      type="text"
      placeholder="Enter station title"
      name="title"
      required
    />
  </div>

  <div class="field">
    <label class="label">Latitude</label>
    <input
      class="input"
      type="number"
      step="any"
      placeholder="Enter latitude"
      name="latitude"
      required
      min="-90"
      max="90"
    />
  </div>

  <div class="field">
    <label class="label">Longitude</label>
    <input
      class="input"
      type="number"
      step="any"
      placeholder="Enter longitude"
      name="longitude"
      required
      min="-180"
      max="180"
    />
  </div>

  <button class="button is-link">Add Station</button>
</form>