{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title has-text-success">
    Weathertop 4.0
  </h3>
  <div class="section">
    <p>
      This is a work in progress weather station. 
    </p>
  </div>
</section>