{{> welcome-menu}}

<section class="section">
  <p> Sign up or Log in... </p>
  <section class="section">
    <div class="container">
      <div class="card">
        <div class="card-image">
          <figure class="image is-16by9">
            <img src="https://cdn.glitch.global/f9c193fb-b447-434e-98d7-fd3d3da20615/noaa-ZVhm6rEKEX8-unsplash.jpg?v=1723844300322" alt="Placeholder image">
          </figure>
        </div>
      </div>
    </div>
  </section>
</section>