{{> menu}}

<section class="section">
  <div class="title">
    {{station.title}}
  </div>
  <div>
    {{> cards card1=stationCards.card1 card2=stationCards.card2 card3=stationCards.card3 card4=stationCards.card4 card5=stationCards.card5}}
  </div>
  {{> list-reports}}
  {{> add-report}}
</section>